@import "tailwindcss";	
@plugin "daisyui";
@plugin "daisyui" {
  themes: corporate --default, dark --prefersdark;
}




#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


@media (max-width: 390px) {
  .tituloMobil {
    @apply text-2xl;
  }
    
  .subtituloMobil {
      @apply text-xl;

  }

  
  .recuadrospequenos img{
    @apply flex-col;
    @apply w-[30%];
    @apply h-[30%];
    
  }
  .recuadros h3{
    @apply m-3;
    
  }
}

@media (max-width: 400px) {
  .recuadros{
    @apply flex;
    @apply flex-col;
  }
}

@media (max-width: 768px) {
  .recuadrosVideo {
    @apply flex-col;
    @apply w-[100%]; 
    @apply m-5;

  }
    

}